/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/dist
/local.cfg
.coverage
/*.egg-info
/.installed.cfg
*~
*.pyc
/.Python
/include
/lib
/.project
/.pydevproject
/.mr.developer.cfg
/src/plone*
/src/collective*
*.pyo
*.tmp*
*.mo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
*.egg
*.EGG
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.hg/
.bzr/
.svn/



# OSX
.DS_Store
