#content {
    margin-bottom: 20px;
}
#modelEditor {
    right: 1px;
    left: 1px;
    z-index: 1;
    border: 1px solid #ccc;
}
.formControls {
    text-align: left;
    font-size: 175%;
}
.formControls input {
    font-size: 100%;
}
.portalMessage {
    float: right;
    font-size: 200%;
    color: #fff;
}
.portalMessage span {
    background-color: #0a0;
    padding: 0.5em;
}
