/* styling for overlays (popups) */

div.overlay {
    width: auto;
    height: auto;
    /* initially overlay is hidden */
    display:none;
    /* some padding to layout nested elements nicely  */
    margin:1em;
	font-size: 80%;
}

div.overlay-iframe,
div.overlay-ajax {
    width: 60%;
    min-height: 100px;
    z-index: 99; /* overlays should be above everything */
	/* Change the defaults */
	top: 10em !important; 
}

div.overlay-iframe {
    height: 60%;
}

/* default close button positioned on upper right corner */
    div.overlaybg div.close,
    div.overlay div.close {
    background-image: url(pb_close.png);
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.pb-ajax, .pb-image {
    white-space: normal;
    box-shadow:0 0 3em 0.5em #666;
    -moz-box-shadow:0 0 3em 0.5em #666;
    -webkit-box-shadow:0 0 3em #666;
}

.pb-ajax > * {
    background-color: #fff;
    padding: 1em;
    white-space: normal;
}

.pb-ajax .documentActions {display:none}

div.overlay div.close span {
    display:block;
    height:1px;
    margin:-1px 0 0 -1px;
    overflow:hidden;
    padding:0;
    width:1px;
}

div.overlay textarea { width: 100%; }

/* Hide form elements that don't make sense within an overlay. */
div.overlay .link-parent { display: none; }
div.overlay #createGroup legend { display: none; }
div.overlay #createGroup fieldset { border: none; }
